* {
    margin: 0;
    padding: 0;
}


.login{

  background-color: rgb(255, 228, 255);
}
.containerss{
    width: 100%;
    margin: 0 auto;
    font-size: 2vmax;
   
    text-align: center;
}
.form{
   
    margin-top: 0px;
    margin-bottom: 200px;
    margin-left: -300px;
}
.content{

    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
