* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}


.description{
    border: 10px;
    border-color: red;
    width: 600px;
    
}
 .description1{
    margin-left: 10px;
}
.name{
    text-size-adjust: 20px;
    margin-top: -60px;
    height: 40px;
    width: 150px;
    display: flex;
    text-align: center;
     margin-left: 200px;
}
.foto1{

    
    display: block;
    margin-left: 100px;
    margin-top: 30px;
}
.AA{
    margin-left: 800px;
    margin-top:60 ;

}
.PC{
   
    margin: 20px;
    height: 50px;
    width: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin-top: -10px;
    border: 1px solid black;
}
.A{

       
    margin: 20px;
    height: 50px;
    width: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin-top: -500px;
    border: 1px solid black;
}
.P{
       
    margin: 20px;
    height: 50px;
    width: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin-top: -10px;
    border: 1px solid black;
}
.AC{
       
    margin: 20px;
    height: 50px;
    width: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin-top: -10px;
    border: 1px solid black;
}
.about{

    margin-left: 1000px;
    margin-top:-120px;

}
