* {
    margin: 0;
    padding: 0;
}
.fotter{
    border: solid 2px ;
    border-color: white;
    height: 300px;
    background-color:rgb(253, 200, 190);
}

.info{
    width: 250px;
    height: 100px;
    }
    
.logoo {
    cursor: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 100px;
  
}

.Fotter1{
    
    height: 30px;
    width: 170px;
    border: 1px solid  rgb(88, 82, 82);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
}

.Fotter4{
    
    height: 50px;
    width: 150px;
    border: 1px solid  rgb(88, 82, 82);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
   margin-left: 300px;
   margin-top: -140px;
  
   
}
.Fotter2{
    
    height: 30px;
    width: 150px;
    border: 1px solid  rgb(88, 82, 82);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
   
   margin: -85px;
  margin-top: -50px;
  margin-left: 300px;
   
}

.map{
    margin-left: 1000px;
    margin-top: -45px;
    float: right;


}
.social-media{
   display: flex;
   margin-left: 600px;
   margin-top:150px;
   
}
.foto4{
    width: 20px;
    height: 20px;
    margin: 10px;
}