*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}
.g1{
    display: flex;
}
.g{
    border: 1px solid red;
    height: 400px;
    width: 300px;
}
.gg{
    border: 1px solid purple;
    height: 600px;
    width: 90%;
}
.g2{
    border: 1px solid black;
    height: 30px;
    list-style: none;
    text-align: center;
    margin: 15px;
    display: flex,flex-dir-column;
    
}
.foto{
    display: flex,flex-dir-column;
}
.foto1{
    height: 260px;
}
.titulli{
    display: table;
}