*{

    margin: 0;
    padding: 0;
}
.container{

margin-top: 50px;
margin-left: 500px;
}
.content{
margin-top: 70px;
margin-left: 500px;

}
#titulli{
font-size: 12px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}